<a href="https://colab.research.google.com/github/dsg1320/PY_XTREME/blob/main/BeginnerBasics/Table_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input("Enter any number to get table : "))
tab=1
k=1
n1=n
while(k<=10):
	tab=n1*(k)
	k+=1
	print(n1, "×" ,(k-1), "=" ,tab)

Enter any number to get table : 3
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27
3 × 10 = 30